<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>colorPicker</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">colorPicker</ion-title>
    </ion-toolbar>
  </ion-header>

  <div>
    <ion-grid>
      <ion-row>
        <ion-col style="background:#800000" (click)="setColor('#800000')"></ion-col>
        <ion-col style="background:#804000" (click)="setColor('#804000')"></ion-col>
        <ion-col style="background:#808000" (click)="setColor('#808000')"></ion-col>
        <ion-col style="background:#408000" (click)="setColor('#408000')"></ion-col>
        <ion-col style="background:#008000" (click)="setColor('#008000')"></ion-col>
        <ion-col style="background:#008040" (click)="setColor('#008040')"></ion-col>
        <ion-col style="background:#008080" (click)="setColor('#008080')"></ion-col>
        <ion-col style="background:#004080" (click)="setColor('#004080')"></ion-col>
        <ion-col style="background:#000080" (click)="setColor('#000080')"></ion-col>
        <ion-col style="background:#400080" (click)="setColor('#400080')"></ion-col>
        <ion-col style="background:#800080" (click)="setColor('#800080')"></ion-col>
        <ion-col style="background:#800040" (click)="setColor('#800040')"></ion-col>
      </ion-row>

      <ion-row>
        <ion-col style="background:#FF0000" (click)="setColor('#FF0000')"></ion-col>
        <ion-col style="background:#FF8000" (click)="setColor('#FF8000')"></ion-col>
        <ion-col style="background:#FFFF00" (click)="setColor('#FFFF00')"></ion-col>
        <ion-col style="background:#80FF00" (click)="setColor('#80FF00')"></ion-col>
        <ion-col style="background:#00FF00" (click)="setColor('#00FF00')"></ion-col>
        <ion-col style="background:#00FF80" (click)="setColor('#00FF80')"></ion-col>
        <ion-col style="background:#00FFFF" (click)="setColor('#00FFFF')"></ion-col>
        <ion-col style="background:#0080FF" (click)="setColor('#0080FF')"></ion-col>
        <ion-col style="background:#0000FF" (click)="setColor('#0000FF')"></ion-col>
        <ion-col style="background:#8000FF" (click)="setColor('#8000FF')"></ion-col>
        <ion-col style="background:#FF00FF" (click)="setColor('#FF00FF')"></ion-col>
        <ion-col style="background:#FF0080" (click)="setColor('#FF0080')"></ion-col>
      </ion-row>
      
      <ion-row>
        <ion-col style="background:#FF3333" (click)="setColor('#FF3333')"></ion-col>
        <ion-col style="background:#FF9933" (click)="setColor('#FF9933')"></ion-col>
        <ion-col style="background:#FFFF33" (click)="setColor('#FFFF33')"></ion-col>
        <ion-col style="background:#99FF33" (click)="setColor('#99FF33')"></ion-col>
        <ion-col style="background:#33FF33" (click)="setColor('#33FF33')"></ion-col>
        <ion-col style="background:#33FF99" (click)="setColor('#33FF99')"></ion-col>
        <ion-col style="background:#33FFFF" (click)="setColor('#33FFFF')"></ion-col>
        <ion-col style="background:#3399FF" (click)="setColor('#3399FF')"></ion-col>
        <ion-col style="background:#3333FF" (click)="setColor('#3333FF')"></ion-col>
        <ion-col style="background:#9933FF" (click)="setColor('#9933FF')"></ion-col>
        <ion-col style="background:#FF33FF" (click)="setColor('#FF33FF')"></ion-col>
        <ion-col style="background:#FF3399" (click)="setColor('#FF3399')"></ion-col>
      </ion-row>
      
      <ion-row>
        <ion-col style="background:#FF6666" (click)="setColor('#FF6666')"></ion-col>
        <ion-col style="background:#FFB366" (click)="setColor('#FFB366')"></ion-col>
        <ion-col style="background:#FFFF66" (click)="setColor('#FFFF66')"></ion-col>
        <ion-col style="background:#B3FF66" (click)="setColor('#B3FF66')"></ion-col>
        <ion-col style="background:#66FF66" (click)="setColor('#66FF66')"></ion-col>
        <ion-col style="background:#66FFB3" (click)="setColor('#66FFB3')"></ion-col>
        <ion-col style="background:#66FFFF" (click)="setColor('#66FFFF')"></ion-col>
        <ion-col style="background:#66B3FF" (click)="setColor('#66B3FF')"></ion-col>
        <ion-col style="background:#6666FF" (click)="setColor('#6666FF')"></ion-col>
        <ion-col style="background:#B366FF" (click)="setColor('#B366FF')"></ion-col>
        <ion-col style="background:#FF66FF" (click)="setColor('#FF66FF')"></ion-col>
        <ion-col style="background:#FF66B3" (click)="setColor('#FF66B3')"></ion-col>
      </ion-row>
      
    </ion-grid>
    
  </div>
</ion-content>
